
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*, html {
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth !important;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.bg-color {
  @apply bg-[#313131]
 }

 .bg-color2 {
  @apply bg-[#414141]
 }

 .color {
  @apply text-[#4a69bd]
 }


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #525252;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  @apply w-[100vw] md:w-[95vw] lg:w-[87vw] xl:w-[70vw] h-[100vh] mx-auto
}

.layout {
  @apply grid lg:grid-cols-3 grid-cols-1 py-3 lg:h-[96vh] w-full
}


.avatar {
  @apply rounded-full max-h-[200px] mx-auto shadow-2xl
}

.title {
  @apply text-center text-3xl py-3 
}

.subtitle {
  @apply text-center text-gray-300 italic bg-[#4a69bd3a] rounded-md p-1 w-[75%] mx-auto
}

.menu-item {
  @apply flex items-center justify-start w-full px-4 py-1 md:py-2 my-2 font-thin  uppercase transition-colors duration-200  hover:text-[#4a69bd]
}

.menu-item-active {
  @apply flex items-center justify-start w-full px-4 py-1 md:py-2 my-2 font-thin text-[#4a69bd] uppercase transition-colors duration-200 border-r-4 border-[#4a69bd] bg-gradient-to-r from-[#4a69bd38] to-[#313131]
}

h5 {
  @apply text-sm
}
h3 {
  @apply text-2xl uppercase
 }
 h1 {
  @apply text-4xl
 }

 .page {
  @apply bg-color rounded-xl shadow-xl p-3 h-full
 }


::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-thumb {
	background-color: #bbbbbb;
	border-radius: 10px;
}


.page h3  {
  @apply mx-auto text-white capitalize
 }

h4  {
  @apply capitalize
 }


 .accordion {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

.accordion__item + .accordion__item {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.accordion__button {
  @apply bg-color2;
  color: #ffffff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
}

.accordion__button:hover {
  @apply bg-[#616161];
}

.accordion__button:before {
  display: inline-block;
  content: '';
  height: 10px;
  width: 10px;
  margin-right: 12px;
  border-bottom: 2px solid currentColor;
  border-right: 2px solid currentColor;
  transform: rotate(-45deg);
}

.accordion__button[aria-expanded='true']::before,
.accordion__button[aria-selected='true']::before {
  transform: rotate(45deg);
}

[hidden] {
  display: none;
}

.accordion__panel {
  padding: 20px;
  animation: fadein 0.35s ease-in;
}

/* -------------------------------------------------- */
/* ---------------- Animation part ------------------ */
/* -------------------------------------------------- */

@keyframes fadein {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}


.pdf {
  height : 64px;
  width : 64px;
  background-size: 64px;
  background-image: url("logoPdf.png");
}